h1{
    font-family: 'Dosis';
    font-weight: 900; 
    font-size: 45px;
    left:9%;
    position: relative;
    color: #2F4F4F
}
h2{
    font-family: 'Dosis';
    font-weight: 900; 
    font-size: 30px;
    left: 80%;
    color: #2F4F4F;
}
h6{
    left:-5%;
    font-size: 15px;
    position: relative; 
    color: #2F4F4F;

}
#table1 {
    position: relative;
    background: white;
    font-size: 20px;  
    width: 300px;; 
    left:-20%;
    color: #2F4F4F;
}
#table2 {
    top: -50px;
    background:rgb(224,224,224); 
    border-radius: 5px;
    font-size: 20px;
    width: 60px;
    font-family: 'Dosis';
    position: relative;
    left: 70%;
    color: #2F4F4F;
}
 td, th {
    text-align: left;   
    font-family: 'Dosis';
}
input {
    width: 100%;
    font-size: 15px;
}
button{
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}
.hl{
    height: 600px;
    width: 600px;
    position: relative;
    
    top: 240px;
}
.table-bordered td, .table-bordered th {
        border: none;
}
.vl {
        border-left: 2px solid #2F4F4F;
        height: 500px;
        position: absolute;
        left: 260%;
        margin-left: 3px;
        top: -50px;
}
#final-page{
    position: relative;
    width: 25%;
    color: white;
    background: darkolivegreen;
    border-radius: 5px;
    border: rgb(48, 65, 14);
    font-family: 'Dosis';
    font-size: 15px;
    font-weight: lighter; 
}
