<header>
  <h1>Shopping Summary</h1>
</header>
<body>
<div>
  <table id="table2">
    
    <tr>
      <td>Name: </td> 
      <td>Sarabi Ochoa</td>
    </tr>
    <tr>
      <td>Addres: </td> 
      <td>35 Rosarita Dr Apt 23 Salinas CA 93906</td>
    </tr>
    <tr>
      <td>Credit Available: </td> 
      <td>$500</td>
    </tr>
    <tr>
      <td>    </td> 
      <td>- $180</td>
    </tr>
  </table>
  <form>
    <br><br>
    <button type="submit" class="btn btn-success" (click)="payOrder()" ><strong>Confirm Purchase</strong></button>
  </form>
</div>
</body>