<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>
<nav>
  <ul>
      <a routerLink="">
    <li>
      <i class="icon-tools"></i>
      <h4>Home</h4>
    </li>
  </a>
    <a routerLink="shop">
    <li>
      <i class="icon-air"></i>
      <h4>Shop</h4>
    </li>
  </a>
  </ul>
</nav>
 <!-- shopping cart icon added!  -->
<div class="container" id="na">
  <div class="menu-icon"><span></span></div>
  <a routerLink="checkout"><div class="right-icon"> <span class="glyphicon glyphicon-shopping-cart "></span>
  </div>
</a>
<a routerLink="sign-in"> <div  class="glyphicon glyphicon-log-out " (click)="logout()"></div>
</a>
</div>

<router-outlet></router-outlet>

