<h1 class="title" style="text-align:center" >Welcome to CSUMB Grocery Store</h1>

    <div class="d-flex justify-content-center">
        <div class="row">
            <span class="flex-item"><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcN74oiXOZUa3nNtNq_fwFndYR-rpTicFEUoGhXcK1rTbiP8nC'></span>
            <p class="align-self-center">
                <a routerLink="/sign-in"><button class="btn btn-primary btn-lg" id="sign-in"> Sign In </button></a>
            </p>

        </div>
      </div>





